<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cooking Assistant</title>
    <link rel="stylesheet" href="/static/styles.css">
</head>
<body>
    <header>
        Cooking Assistant
    </header>
    <nav>
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/recipe_finder">Recipe Finder</a></li>
            <li><a href="/shopping_list">Shopping List</a></li>
            <li><a href="/meal_planner">Meal Planner</a></li>
            <li><a href="/random_meal">Random Meal</a></li>
        </ul>
    </nav>
    <main>
        <h1>Welcome to Your Cooking Assistant!</h1>
        <p>Your ultimate tool for discovering recipes, managing shopping lists, and learning nutrition facts.</p>

        <section class="features">
            <h2>Explore Our Features</h2>
            <ul>
                <li><strong>Recipe Finder:</strong> Find recipes based on ingredients you have.</li>
                <li><strong>Shopping List:</strong> Manage ingredients with an interactive shopping list.</li>
                <li><strong>Meal Planner </strong> Plan your meals with this interactive calendar.</li>
                <li><strong>Random Meal:</strong> Discover new meals with a single click.</li>
            </ul>
        </section>
    </main>

    <footer>
        <p>by Vincent Ngo and Emmanuel Batista</p>
    </footer>
</body>
</html>
